@import url("http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext");

* {
  transition: 0.3s;
}

body {
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  text-align: center;
  background-position: 0%;
  font-family: "Quicksand", sans-serif;
}

ul {
  margin-left: -45px;
}
li {
  list-style-type: none;
  display: inline-block;
}
.container-lg {
  z-index: 1;
  justify-content: center;
  background-color: #2b2525;
  padding-top: 50px;
  border-radius: 10px;
  padding-bottom: 25px;
  border: 1px solid #2b2525;
}
.img {
  background-image: url(assets/akukotak.jpg);
  background-color: #00ff0d;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00ff0d;
  transform-origin: 10% 25%;
  transition: transform 0.03s, filter 0.03s ease-in-out;
  filter: brightness(100%);
}
.nama {
  text-align: center;
  font-size: 30px;
  margin: 0;
  color: #000000;
  text-shadow: 2px 2px 5px rgb(9, 255, 0);
  margin-left: 20px;
  margin-right: 20px;
}
.paragraph {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #00ff0d;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.footer {
  justify-content: center;
}

.form-check-input {
  justify-content: center;
}

.form-check .form-switch {
  cursor: pointer;
  padding-left: 100px;
}

#form-check #form-switch {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

section .hengker {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: -10px;
  opacity: 0.2;
  background: url(assets/code.png);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 30px;
  color: black;
}

.icon img {
  transform-origin: 10% 25%;
  transition: transform 0.03s, filter 0.03s ease-in-out;
  filter: brightness(100%);
}

.icon:hover img {
  filter: brightness(125%);
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgb(30, 255, 0));
}

.img:hover {
  filter: brightness(100%);
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgb(30, 255, 0));
}

.position-relative-example div:hover {
  filter: brightness(100%);
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgb(30, 255, 0));
}

.container:hover {
  filter: brightness(100%);
  transform: scale(1.025);
  transition: transform 0.5s, filter 0.25s ease-out;
}

.paragraph:hover {
  font-weight: bold;
}

.form-check-input {
  position: absolute;
  margin-top: 11px;
}

.form-check-label {
  margin-top: 8px;
  color: #ffffff;
}

.position-relative-example {
  height: 15%;
  margin: auto;
  width: 60%;
}
.position-relative-example div {
  width: 10em;
  height: 2.5em;
  background-color: #050505b2;
  border-radius: 0.7rem;
  margin-bottom: 100px;
}

.container-md {
  justify-content: center;
  padding-top: 50px;
  border-radius: 10px;
  padding-bottom: 25px;
}

p {
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #00ff0d;
}
